.background {
  background-color: lawngreen;
}

.car-size {
  max-width: 10%;
  position: absolute;
}

.facing-down {
  transform: rotate(90deg);
}

.facing-left {
  transform: rotate(180deg);
}

.facing-up {
  transform: rotate(270deg);
}
